*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: cornflowerblue;
}

.header img{
    margin-left: 30px;
}

.header h1{
    padding-top: 30px;
    color: red;
    margin-top: 10px;
}

.header h4{
    text-align: right;
    padding-right: 30px;
    
}

.section ul {
    padding-top: 50px;
}

.section ul li{
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.section ul li a:hover{
    color: red;
}

.section h4{
    font-size: 30px;
    color: blue;
    padding-top: 0px;
}
.section h5{
    font-size: 20px;
    color:gray;
    margin-left: 15px;
}

.section p{
    font-size: 18px;
    color: brown;
    padding-left: 50px;
    padding-top: 10px;

}

.section .xe{
    padding-left: 90px;
}

.footer{
    padding-left: 100px;
    font-style: 25px;
    background-color:cornflowerblue;
    font-style: normal;
}

.footer p{
    font-size: 20px;
    height: 50px;
    color: blanchedalmond;
    text-align: left;
}

.section .vitri{
    height: 120px;
    width: 150px;
    border-style: solid;
    color: darkgoldenrod;
}

.section .mota{
    border-radius: 2px;
}

.section .way{
    font-size: 100px;
    color: darkblue;
    width: 100px;
    font-weight: 100px;
}
.section h3{
    color:orange;
}